Repository toguri/iso-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, dependencies

docs: backend/DAILY_LOG.mdを日付ごとに分割してdocs/daily/に移動 (#54)
  backend/DAILY_LOG.md
  docs/daily/2025-07-21.md
  docs/daily/2025-07-23.md
  docs/daily/2025-07-24.md
  docs/daily/2025-07-25.md
  docs/daily/2025-07-26-backend.md
Labels: backend, documentation

docs: Airflow関連ドキュメントをdocs配下に統合
  airflow/README.md
  docs/airflow/README.md
  docs/airflow/dags.md
  docs/airflow/mwaa-setup.md
  terraform/modules/mwaa/README.md
Labels: documentation

docs: Terraform関連ドキュメントをdocs配下に統合
  docs/terraform/README.md
  docs/terraform/infrastructure-overview.md
  docs/terraform/modules/mwaa.md
  docs/terraform/modules/rds.md
  docs/terraform/operations.md
  docs/terraform/setup-guide.md
  terraform/README.md
  terraform/modules/rds/README.md
Labels: documentation

docs: Airflow関連ドキュメントをdocs配下に統合 (#55)
  airflow/README.md
  docs/airflow/README.md
  docs/airflow/dags.md
  docs/airflow/mwaa-setup.md
  terraform/modules/mwaa/README.md
Labels: documentation

docs: Terraform関連ドキュメントをdocs配下に統合 (#56)
  docs/terraform/README.md
  docs/terraform/infrastructure-overview.md
  docs/terraform/modules/mwaa.md
  docs/terraform/modules/rds.md
  docs/terraform/operations.md
  docs/terraform/setup-guide.md
  terraform/README.md
  terraform/modules/rds/README.md
Labels: documentation

feat: PRカバレッジ差分表示機能の改善
  .github/workflows/coverage-comment.yml
  .github/workflows/main-coverage.yml
  .github/workflows/pr-checks.yml
  docs/daily/2025-08-02.md
Labels: documentation, ci/cd

feat: PRカバレッジ差分表示機能の改善 (#57)
  .github/workflows/coverage-comment.yml
  .github/workflows/main-coverage.yml
  .github/workflows/pr-checks.yml
  docs/daily/2025-08-02.md
Labels: documentation, ci/cd

ci: テスト実行時間の最適化と並列化
  .config/nextest.toml
  .github/workflows/pr-checks-original.yml
  docs/ci-optimization.md
Labels: documentation, ci/cd

fix: basic-checksジョブにpull-requests権限を追加
  .github/workflows/pr-checks.yml
Labels: ci/cd

ci: テスト実行時間の最適化と並列化 (#58)
  .config/nextest.toml
  .github/workflows/pr-checks-original.yml
  docs/ci-optimization.md
Labels: documentation, ci/cd

feat: 本番環境用Terraformインフラストラクチャの実装
  docs/DEVELOPMENT_PLAN.md
  docs/daily/2025-08-02.md
  docs/production-deployment-strategy.md
  terraform/environments/prod/.gitignore
  terraform/environments/prod/.terraform.lock.hcl
  terraform/environments/prod/backend.tf.example
  terraform/environments/prod/ecs.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/outputs.tf
  terraform/environments/prod/rds.tf
  terraform/environments/prod/setup-backend.sh
  terraform/environments/prod/terraform.tfvars.example
  terraform/environments/prod/variables.tf
Labels: documentation

fix: Terraformファイルのフォーマット修正
  terraform/environments/prod/ecs.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/variables.tf
Labels: none

fix: TFLintの未使用変数警告を修正
  terraform/environments/prod/variables.tf
Labels: none

feat: テスト実行の最適化と本番環境インフラストラクチャの実装 (#59)
  docs/DEVELOPMENT_PLAN.md
  docs/daily/2025-08-02.md
  docs/production-deployment-strategy.md
  terraform/environments/prod/.gitignore
  terraform/environments/prod/.terraform.lock.hcl
  terraform/environments/prod/backend.tf.example
  terraform/environments/prod/ecs.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/outputs.tf
  terraform/environments/prod/rds.tf
  terraform/environments/prod/setup-backend.sh
  terraform/environments/prod/terraform.tfvars.example
  terraform/environments/prod/variables.tf
Labels: documentation

feat: 本番環境用Terraformインフラストラクチャの実装
  terraform/environments/prod/variables.tf
Labels: none

docs: 2025年8月2日の日報更新 - PR #59のマージ完了
  docs/daily/2025-08-02.md
Labels: documentation

docs: 本番環境デプロイ進捗の記録
  backend/.gitignore
Labels: backend

fix: Terraformファイルのフォーマット修正
  terraform/environments/prod/variables.tf
Labels: none

fix: TFLintの未使用変数警告を修正
  terraform/environments/prod/variables.tf
Labels: none

docs: 本番環境デプロイ進捗と日報更新 (#60)
  backend/.gitignore
  docs/daily/2025-08-02.md
Labels: backend, documentation

docs: フロントエンドデプロイ完了とPR #60マージ済みを日報に記録
  docs/daily/2025-08-02.md
Labels: documentation

docs: フロントエンドデプロイ完了とPR #60マージ済みを日報に記録 (#61)
  docs/daily/2025-08-02.md
Labels: documentation

feat: 本番環境用Terraformインフラストラクチャの実装
  terraform/environments/prod/variables.tf
Labels: none

fix: TFLintの未使用変数警告を修正
  terraform/environments/prod/variables.tf
Labels: none

fix: Terraformファイルのフォーマット修正
  terraform/environments/prod/variables.tf
Labels: none

refactor: SeaORMを削除しSQLxのみに統一
  backend/Cargo.toml
Labels: backend, dependencies

docs: MVPローンチタスクリストを日報に追加
  docs/daily/2025-08-02.md
Labels: documentation

fix: cargo-tarpaulin 0.27.3で--print-summaryオプションが存在しない問題を修正
  .github/workflows/coverage.yml
  .github/workflows/pr-checks-original.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: cargo-tarpaulin 0.27.3で--print-summaryオプションが存在しない問題を修正
  .github/workflows/coverage.yml
  .github/workflows/pr-checks-original.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

refactor: SeaORMを削除しSQLxのみに統一 (#62)
  .github/workflows/coverage.yml
  .github/workflows/pr-checks-original.yml
  .github/workflows/pr-checks.yml
  backend/Cargo.toml
  docs/daily/2025-08-02.md
Labels: backend, documentation, ci/cd, dependencies

docs: 2025年8月2日の日報更新 - PR #60, #61, #62のマージ完了を記録
  docs/daily/2025-08-02.md
Labels: documentation

docs: 2025年8月2日の日報更新 - PR #60, #61, #62のマージ完了を記録 (#64)
  docs/daily/2025-08-02.md
Labels: documentation

feat: データベースマイグレーションのCI/CD実装
  .github/workflows/database-migration.yml
  backend/Dockerfile.migrate
  terraform/modules/rds/main.tf
  terraform/modules/rds/outputs.tf
Labels: backend, ci/cd

fix: 重複するauto-author-assignワークフローを削除
  .github/workflows/auto-author-assign.yml
Labels: ci/cd

fix: 重複するauto-author-assignワークフローを削除 (#66)
  .github/workflows/auto-author-assign.yml
Labels: ci/cd

feat: データベースマイグレーションのCI/CD実装 (#65)
  .github/workflows/database-migration.yml
  backend/Dockerfile.migrate
  terraform/modules/rds/main.tf
  terraform/modules/rds/outputs.tf
Labels: backend, ci/cd

.github/labeler.yml:

# ラベル自動付与の設定
backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**/package.json'
      - '**/package-lock.json'
