Repository toguri/iso-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, dependencies

fix: code-qualityワークフローの条件付き実行を改善
  .github/workflows/code-quality.yml
Labels: ci/cd

chore: CI/CDワークフローのスキップ設定を改善 (#35)
  .github/workflows/code-quality.yml
  backend/README.md
Labels: backend, ci/cd

feat: テストカバレッジの改善とモック化の実装 (#34)
  backend/Cargo.toml
  backend/src/db/mod.rs
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/graphql_context.rs
  backend/src/lib.rs
  backend/src/lib_test.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/models_extended_test.rs
  backend/src/scraper/persistence.rs
  backend/src/test_utils.rs
  backend/tests/models_extended_test.rs
  codecov.yml
  docs/daily/2025-07-26.md
  docs/daily/2025-07-27.md
Labels: backend, documentation, dependencies

fix: cargo-tarpaulinに戻してCodecov連携を修正
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
  backend/Makefile
  backend/README.md
Labels: backend, ci/cd

fix: cargo-tarpaulinに戻してCodecov連携を修正 (#36)
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
  backend/Makefile
  backend/README.md
Labels: backend, ci/cd

feat: NBAトレード表示用にフロントエンドを修正
  docs/daily/2025-07-27.md
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/index.html
Labels: frontend, documentation

feat: NBAトレード表示用にフロントエンドを修正 (#37)
  docs/daily/2025-07-27.md
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/index.html
Labels: frontend, documentation

test: フロントエンドの単体テストを追加
  .github/workflows/pr-checks.yml
  docs/daily/2025-07-27.md
  frontend/build.gradle.kts
  frontend/src/jsTest/kotlin/api/GraphQLClientTest.kt
  frontend/src/jsTest/kotlin/components/CategoryFilterTest.kt
  frontend/src/jsTest/kotlin/components/NewsCardTest.kt
  frontend/src/jsTest/kotlin/models/NewsItemTest.kt
Labels: frontend, documentation, ci/cd

test: フロントエンドの単体テストを追加 (#38)
  .github/workflows/pr-checks.yml
  docs/daily/2025-07-27.md
  frontend/build.gradle.kts
  frontend/src/jsTest/kotlin/api/GraphQLClientTest.kt
  frontend/src/jsTest/kotlin/components/CategoryFilterTest.kt
  frontend/src/jsTest/kotlin/components/NewsCardTest.kt
  frontend/src/jsTest/kotlin/models/NewsItemTest.kt
Labels: frontend, documentation, ci/cd

feat: フロントエンドのカバレッジ測定を実装
  .github/workflows/pr-checks.yml
  docs/daily/2025-07-27.md
  frontend/build.gradle.kts
  frontend/karma.config.d/coverage.js
  frontend/karma.config.d/webpack-coverage.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, documentation, ci/cd, dependencies

fix: カバレッジレポートの設定を改善
  frontend/karma.config.d/coverage.js
  frontend/karma.config.d/webpack-coverage.js
Labels: frontend

fix: Codecovのパス補正とフラグ設定を追加
  codecov.yml
  frontend/karma.config.d/coverage.js
  frontend/karma.config.d/webpack-coverage.js
Labels: frontend

fix: フロントエンドカバレッジのCI/CDパス修正
  .github/workflows/pr-checks.yml
  frontend/build.gradle.kts
  frontend/karma.config.d/coverage-istanbul.js
  frontend/karma.config.d/coverage.js
  frontend/karma.config.d/dummy-coverage.js
  frontend/karma.config.d/webpack-coverage.js
Labels: frontend, ci/cd

fix: codecov.ymlのpath fixes構文を修正
  codecov.yml
Labels: none

feat: フロントエンドのカバレッジ測定を実装 (#39)
  .github/workflows/pr-checks.yml
  codecov.yml
  docs/daily/2025-07-27.md
  frontend/build.gradle.kts
  frontend/karma.config.d/coverage-istanbul.js
  frontend/karma.config.d/coverage.js
  frontend/karma.config.d/dummy-coverage.js
  frontend/karma.config.d/webpack-coverage.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, documentation, ci/cd, dependencies

feat: Dockerローカル環境の構築
  backend/Dockerfile
  docker-compose.yml
  docs/DEPLOYMENT_GUIDE.md
  docs/daily/2025-07-27.md
Labels: backend, documentation

feat: フロントエンドローカル環境の構築
  docs/daily/2025-07-27.md
  frontend/LOCAL_SETUP.md
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  start-frontend.sh
  start-local.sh
  test-integration.sh
Labels: frontend, documentation

chore: AWSアカウントIDをコードから削除
  docs/daily/2025-07-27.md
  terraform/environments/dev/.terraform.lock.hcl
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
Labels: documentation

chore: resolve merge conflict in daily log
  docs/daily/2025-07-27.md
Labels: documentation

fix: format Terraform files to pass CI checks
  terraform/environments/dev/ecs.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/mwaa.tf
  terraform/environments/dev/rds.tf
  terraform/modules/ecs/main.tf
  terraform/modules/mwaa/main.tf
  terraform/modules/rds/main.tf
  terraform/modules/s3/main.tf
  terraform/modules/vpc/main.tf
Labels: none

fix: resolve Terraform validation errors and remove duplicate outputs
  docs/daily/2025-07-27.md
  terraform/environments/dev/.terraform.lock.hcl
  terraform/environments/dev/ecs.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/mwaa.tf
  terraform/environments/dev/outputs.tf
Labels: documentation

fix: resolve Terraform validation errors and remove duplicate outputs
  docs/daily/2025-07-27.md
  terraform/environments/dev/ecs.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/mwaa.tf
  terraform/environments/dev/outputs.tf
Labels: documentation

fix: format Terraform files after conflict resolution
  terraform/environments/dev/ecs.tf
  terraform/environments/dev/mwaa.tf
Labels: none

fix: remove unused Terraform variables to pass TFLint checks
  .tflintrc
  docs/daily/2025-07-27.md
  terraform/environments/dev/main.tf
  terraform/environments/dev/variables.tf
  terraform/modules/ecs/main.tf
  terraform/modules/mwaa/main.tf
  terraform/modules/mwaa/variables.tf
  terraform/modules/rds/main.tf
  terraform/modules/s3/main.tf
  terraform/modules/vpc/main.tf
Labels: documentation

fix: format Terraform module files
  docs/daily/2025-07-27.md
  terraform/modules/ecs/main.tf
  terraform/modules/mwaa/main.tf
  terraform/modules/rds/main.tf
  terraform/modules/s3/main.tf
  terraform/modules/vpc/main.tf
Labels: documentation

fix: remove dag_s3_bucket reference in mwaa module call
  terraform/environments/dev/mwaa.tf
Labels: none

feat: Dockerローカル環境の構築 (#40)
  .tflintrc
  backend/Dockerfile
  docker-compose.yml
  docs/DEPLOYMENT_GUIDE.md
  docs/daily/2025-07-27.md
  terraform/environments/dev/.terraform.lock.hcl
  terraform/environments/dev/ecs.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/mwaa.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/dev/rds.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/ecs/main.tf
  terraform/modules/mwaa/main.tf
  terraform/modules/mwaa/variables.tf
  terraform/modules/rds/main.tf
  terraform/modules/s3/main.tf
  terraform/modules/vpc/main.tf
Labels: backend, documentation

feat: フロントエンドローカル環境の構築 (#41)
  backend/src/graphql.rs
  backend/src/scraper/persistence.rs
  frontend/LOCAL_SETUP.md
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  start-frontend.sh
  start-local.sh
  test-integration.sh
Labels: backend, frontend

test: テストカバレッジ改善のためのテスト追加
  backend/src/scraper/mod.rs
  backend/src/scraper/persistence_trait.rs
  backend/src/scraper/persistence_trait_test.rs
Labels: backend

test: テストカバレッジ改善のためのテスト追加
  backend/src/scraper/mod.rs
  backend/src/scraper/persistence_trait.rs
  backend/src/scraper/persistence_trait_test.rs
Labels: backend

refactor: モック関連コードを全削除
  backend/coverage/tarpaulin-report.html
  backend/lcov.info
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/graphql_context.rs
  backend/src/lib.rs
  backend/src/scraper/mod.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/persistence_trait.rs
  backend/src/scraper/persistence_trait_test.rs
  backend/src/test_utils.rs
  backend/tarpaulin-report.html
Labels: backend

feat: Docker PostgreSQLを使用した結合テスト環境を構築
  backend/build_rs_cov.profraw
  backend/docker-compose.test.yml
  backend/init.sql
  backend/scripts/test-with-db.sh
  backend/src/graphql.rs
  backend/src/scraper/persistence.rs
  backend/test.env
  backend/tests/integration/db_test.rs
  backend/tests/integration/persistence_test.rs
  backend/tests/integration_test.rs
  docs/daily/2025-07-28.md
Labels: backend, documentation

chore: カバレッジ関連ファイルを.gitignoreに追加
  backend/.gitignore
Labels: backend

test: 重複するテストファイルを削除し、テスト構造を整理
  backend/build_rs_cov.profraw
  backend/coverage/tarpaulin-report.html
  backend/init.sql
  backend/src/db/connection.rs
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
  backend/src/utils/mod.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
  backend/tests/integration/db_test.rs
  backend/tests/integration/persistence_test.rs
  backend/tests/integration_test.rs
Labels: backend

feat: Docker PostgreSQLを使用した結合テスト環境の構築とテストカバレッジ改善
  backend/.gitignore
  backend/coverage/tarpaulin-report.html
  backend/docker-compose.test.yml
  backend/init.sql
  backend/lcov.info
  backend/scripts/test-with-db.sh
  backend/src/db/connection.rs
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/graphql_context.rs
  backend/src/lib.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
  backend/src/test_utils.rs
  backend/src/utils/mod.rs
  backend/tarpaulin-report.html
  backend/test.env
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
  backend/tests/integration_test.rs
  docs/daily/2025-07-28.md
Labels: backend, documentation

feat: Docker PostgreSQLを使用した結合テスト環境の構築とテストカバレッジ改善 (#42)
  backend/.gitignore
  backend/coverage/tarpaulin-report.html
  backend/docker-compose.test.yml
  backend/init.sql
  backend/lcov.info
  backend/scripts/test-with-db.sh
  backend/src/db/connection.rs
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/graphql_context.rs
  backend/src/lib.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
  backend/src/test_utils.rs
  backend/src/utils/mod.rs
  backend/tarpaulin-report.html
  backend/test.env
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
  backend/tests/integration_test.rs
  docs/daily/2025-07-28.md
Labels: backend, documentation

feat: Docker PostgreSQLを使用した結合テスト環境の構築とテストカバレッジ改善 (#42)
  backend/.gitignore
  backend/coverage/tarpaulin-report.html
  backend/docker-compose.test.yml
  backend/init.sql
  backend/lcov.info
  backend/scripts/test-with-db.sh
  backend/src/db/connection.rs
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/graphql_context.rs
  backend/src/lib.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
  backend/src/test_utils.rs
  backend/src/utils/mod.rs
  backend/tarpaulin-report.html
  backend/test.env
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
  backend/tests/integration_test.rs
  docs/daily/2025-07-28.md
Labels: backend, documentation

chore: \u30ab\u30d0\u30ec\u30c3\u30b8\u95a2\u9023\u30d5\u30a1\u30a4\u30eb\u3092.gitignore\u306b\u8ffd\u52a0
  backend/.gitignore
Labels: backend

test: 重複するテストファイルを削除し、テスト構造を整理
  backend/src/db/connection.rs
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
  backend/src/utils/mod.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
Labels: backend

test: テストカバレッジ改善のためのテスト追加
  backend/coverage/tarpaulin-report.html
  backend/docker-compose.test.yml
  backend/lcov.info
  backend/scripts/test-with-db.sh
  backend/src/db/connection.rs
  backend/src/graphql.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/tarpaulin-report.html
  backend/test.env
Labels: backend

.github/labeler.yml:

# ラベル自動付与の設定
backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**/package.json'
      - '**/package-lock.json'
