Repository toguri/iso-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, dependencies

fix: 日付表示フォーマットを修正
  frontend/src/jsMain/kotlin/components/NewsCard.kt
Labels: frontend

Revert "fix: 日付表示フォーマットを修正"
  frontend/src/jsMain/kotlin/components/NewsCard.kt
Labels: frontend

Revert "feat: バックエンドにCORS設定を追加、ポートを8000に変更"
  backend/Cargo.toml
  backend/src/main.rs
Labels: backend, dependencies

Revert "feat: Kotlin Compose for Webでフロントエンドを実装"
  frontend/.next/cache/webpack/client-development/0.pack.gz
  frontend/.next/cache/webpack/client-development/index.pack.gz
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/middleware-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/types/package.json
  frontend/README.md
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/gradle/wrapper/gradle-wrapper.jar
  frontend/gradle/wrapper/gradle-wrapper.properties
  frontend/gradlew
  frontend/kotlin-prod.html
  frontend/kotlin-test.html
  frontend/settings.gradle.kts
  frontend/simple-test.html
  frontend/src/jsMain/graphql/schema.graphqls
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/Main.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/index.html
Labels: frontend, dependencies

feat: バックエンドにCORS設定を追加、ポートを8000に変更
  backend/Cargo.toml
  backend/src/main.rs
Labels: backend, dependencies

fix: 日付表示フォーマットを修正
  frontend/src/jsMain/kotlin/components/NewsCard.kt
Labels: frontend

feat: Kotlin Compose for Webでフロントエンドを実装
  frontend/.next/cache/webpack/client-development/0.pack.gz
  frontend/.next/cache/webpack/client-development/index.pack.gz
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/middleware-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/types/package.json
  frontend/README.md
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/gradle/wrapper/gradle-wrapper.jar
  frontend/gradle/wrapper/gradle-wrapper.properties
  frontend/gradlew
  frontend/kotlin-prod.html
  frontend/kotlin-test.html
  frontend/settings.gradle.kts
  frontend/simple-test.html
  frontend/src/jsMain/graphql/schema.graphqls
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/Main.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/index.html
Labels: frontend, dependencies

revert: mainブランチへの直接プッシュを取り消し
  backend/Cargo.toml
  backend/src/main.rs
  frontend/.next/cache/webpack/client-development/0.pack.gz
  frontend/.next/cache/webpack/client-development/index.pack.gz
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/middleware-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/types/package.json
  frontend/README.md
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/gradle/wrapper/gradle-wrapper.jar
  frontend/gradle/wrapper/gradle-wrapper.properties
  frontend/gradlew
  frontend/kotlin-prod.html
  frontend/kotlin-test.html
  frontend/settings.gradle.kts
  frontend/simple-test.html
  frontend/src/jsMain/graphql/schema.graphqls
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/Main.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/index.html
Labels: backend, frontend, dependencies

chore: mainブランチへの直接プッシュを取り消し
  backend/Cargo.toml
  backend/src/main.rs
  frontend/.next/cache/webpack/client-development/0.pack.gz
  frontend/.next/cache/webpack/client-development/index.pack.gz
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/middleware-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/types/package.json
  frontend/README.md
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/gradle/wrapper/gradle-wrapper.jar
  frontend/gradle/wrapper/gradle-wrapper.properties
  frontend/gradlew
  frontend/kotlin-prod.html
  frontend/kotlin-test.html
  frontend/settings.gradle.kts
  frontend/simple-test.html
  frontend/src/jsMain/graphql/schema.graphqls
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/Main.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/index.html
Labels: backend, frontend, dependencies

feat: バックエンドにCORS設定を追加、ポートを8000に変更
  backend/Cargo.toml
  backend/src/main.rs
Labels: backend, dependencies

feat: Kotlin Compose for Webによるフロントエンド実装
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/gradle/wrapper/gradle-wrapper.jar
  frontend/gradle/wrapper/gradle-wrapper.properties
  frontend/gradlew
  frontend/gradlew.bat
  frontend/settings.gradle.kts
  frontend/src/jsMain/graphql/schema.graphqls
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/Main.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/api-test.html
  frontend/src/jsMain/resources/index.html
  frontend/src/jsMain/resources/simple-test.html
Labels: frontend

feat: データ永続化と定期実行ジョブの実装
  MVP_DEPLOYMENT_PLAN.md
  backend/DAILY_LOG.md
  backend/MVP_TASKS.md
  backend/PROGRESS_SUMMARY.md
  backend/src/graphql.rs
  backend/src/main.rs
Labels: backend, documentation

feat: AWS インフラストラクチャ基盤の構築開始
  .github/workflows/deploy.yml
  airflow/dags/nba_rss_scraper.py
  airflow/requirements.txt
  backend/.dockerignore
  backend/Dockerfile
  frontend/deploy.sh
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/outputs.tf
  terraform/modules/vpc/variables.tf
Labels: backend, frontend, ci/cd

feat: データ永続化機能の実装
  backend/src/bin/init_scrape.rs
Labels: backend

feat: Airflow連携用のGraphQL Mutation実装
  backend/src/graphql.rs
  backend/src/main.rs
Labels: backend

fix: コードフォーマット修正
  backend/src/bin/init_scrape.rs
Labels: backend

fix: コードフォーマット修正
  backend/src/graphql.rs
  backend/src/main.rs
Labels: backend

fix: Clippy警告の修正（format!マクロ）
  backend/src/graphql.rs
Labels: backend

feat: AWS インフラストラクチャの完全実装
  backend/src/main.rs
  backend/task-definition.json
  terraform/README.md
  terraform/environments/dev/outputs.tf
  terraform/modules/ecs/main.tf
  terraform/modules/ecs/outputs.tf
  terraform/modules/ecs/variables.tf
  terraform/modules/mwaa/main.tf
  terraform/modules/mwaa/outputs.tf
  terraform/modules/mwaa/variables.tf
  terraform/modules/rds/main.tf
  terraform/modules/rds/outputs.tf
  terraform/modules/rds/variables.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
Labels: backend

test: ヘルスチェックエンドポイントのテスト追加
  backend/src/lib.rs
  backend/src/main.rs
  backend/tests/health_check_test.rs
  frontend-nextjs-backup/.eslintrc.json
  frontend-nextjs-backup/.gitignore
  frontend-nextjs-backup/README.md
  frontend-nextjs-backup/app/globals.css
  frontend-nextjs-backup/app/layout.tsx
  frontend-nextjs-backup/app/page.tsx
  frontend-nextjs-backup/components/ApolloProvider.tsx
  frontend-nextjs-backup/components/CategoryFilter.tsx
  frontend-nextjs-backup/components/NewsCard.tsx
  frontend-nextjs-backup/components/NewsList.tsx
  frontend-nextjs-backup/lib/apollo-client.ts
  frontend-nextjs-backup/lib/graphql/queries.ts
  frontend-nextjs-backup/next.config.js
  frontend-nextjs-backup/package-lock.json
  frontend-nextjs-backup/package.json
  frontend-nextjs-backup/postcss.config.js
  frontend-nextjs-backup/tailwind.config.ts
  frontend-nextjs-backup/test.html
  frontend-nextjs-backup/tsconfig.json
  frontend-nextjs-backup/types/news.ts
Labels: backend, dependencies

test: create_app関数と関連エンドポイントの包括的テスト追加
  backend/tests/app_test.rs
Labels: backend

style: cargo fmtでフォーマット修正
  backend/tests/app_test.rs
Labels: backend

feat: AWS インフラストラクチャの完全実装 (#24)
  backend/src/lib.rs
  backend/src/main.rs
  backend/task-definition.json
  backend/tests/app_test.rs
  backend/tests/health_check_test.rs
  frontend-nextjs-backup/.eslintrc.json
  frontend-nextjs-backup/.gitignore
  frontend-nextjs-backup/README.md
  frontend-nextjs-backup/app/globals.css
  frontend-nextjs-backup/app/layout.tsx
  frontend-nextjs-backup/app/page.tsx
  frontend-nextjs-backup/components/ApolloProvider.tsx
  frontend-nextjs-backup/components/CategoryFilter.tsx
  frontend-nextjs-backup/components/NewsCard.tsx
  frontend-nextjs-backup/components/NewsList.tsx
  frontend-nextjs-backup/lib/apollo-client.ts
  frontend-nextjs-backup/lib/graphql/queries.ts
  frontend-nextjs-backup/next.config.js
  frontend-nextjs-backup/package-lock.json
  frontend-nextjs-backup/package.json
  frontend-nextjs-backup/postcss.config.js
  frontend-nextjs-backup/tailwind.config.ts
  frontend-nextjs-backup/test.html
  frontend-nextjs-backup/tsconfig.json
  frontend-nextjs-backup/types/news.ts
  terraform/README.md
  terraform/environments/dev/outputs.tf
  terraform/modules/ecs/main.tf
  terraform/modules/ecs/outputs.tf
  terraform/modules/ecs/variables.tf
  terraform/modules/mwaa/main.tf
  terraform/modules/mwaa/outputs.tf
  terraform/modules/mwaa/variables.tf
  terraform/modules/rds/main.tf
  terraform/modules/rds/outputs.tf
  terraform/modules/rds/variables.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
Labels: backend, dependencies

feat: Terraformデプロイ環境の完全セットアップ
  airflow/dags/nba_rss_scraper.py
  airflow/requirements.txt
  frontend/deploy.sh
  terraform/SETUP.md
  terraform/environments/dev/.gitignore
  terraform/environments/dev/backend.tf.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/vpc/main.tf
Labels: frontend

chore: Terraformセットアップの直接pushを取り消し
  airflow/dags/nba_rss_scraper.py
  airflow/requirements.txt
  frontend/deploy.sh
  terraform/SETUP.md
  terraform/environments/dev/.gitignore
  terraform/environments/dev/backend.tf.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/vpc/main.tf
Labels: frontend

ci: 統合CIワークフローの導入
  .github/BRANCH_PROTECTION.md
  .github/workflows/README.md
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/pr-check.yml
  .github/workflows/rust-ci.yml
  .github/workflows/unified-ci.yml
Labels: ci/cd

fix: 統合CIでAuto Label PRステップの権限エラーを修正
  .github/workflows/unified-ci.yml
Labels: ci/cd

fix: Auto Label PRステップの条件を修正
  .github/workflows/unified-ci.yml
Labels: ci/cd

feat: 必須チェック用のTestジョブを追加
  .github/workflows/unified-ci.yml
Labels: ci/cd

feat: Check Commit Messagesを独立したジョブとして追加
  .github/workflows/unified-ci.yml
Labels: ci/cd

feat: Auto Label PRを独立したジョブとして追加
  .github/workflows/unified-ci.yml
Labels: ci/cd

fix: coverageジョブ名を'Generate Coverage Report'に修正
  .github/workflows/unified-ci.yml
Labels: ci/cd

fix: docs-checkジョブ名を'Build Documentation'に修正
  .github/workflows/unified-ci.yml
Labels: ci/cd

feat: Codecovトークン追加とスキップ時のダミージョブ実装
  .github/workflows/unified-ci.yml
Labels: ci/cd

feat: Codecov設定ファイルを追加
  codecov.yml
Labels: none

feat: カバレッジスキップ時にcodecovステータスを手動設定
  .github/workflows/unified-ci.yml
Labels: ci/cd

ci: 統合CIワークフローの導入 (#27)
  .github/BRANCH_PROTECTION.md
  .github/workflows/README.md
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/pr-check.yml
  .github/workflows/rust-ci.yml
  .github/workflows/unified-ci.yml
  codecov.yml
Labels: ci/cd

chore: Terraformセットアップの直接pushを取り消し (#25)
  airflow/dags/nba_rss_scraper.py
  airflow/requirements.txt
  frontend/deploy.sh
  terraform/SETUP.md
  terraform/environments/dev/.gitignore
  terraform/environments/dev/backend.tf.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/vpc/main.tf
Labels: frontend

feat: Terraform環境セットアップ
  terraform/SETUP.md
  terraform/environments/dev/.gitignore
  terraform/environments/dev/backend.tf.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/vpc/main.tf
Labels: none

feat: Terraform環境セットアップ (#26)
  terraform/SETUP.md
  terraform/environments/dev/.gitignore
  terraform/environments/dev/backend.tf.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/vpc/main.tf
Labels: none

.github/labeler.yml:

# ラベル自動付与の設定
backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**/package.json'
      - '**/package-lock.json'
