Repository toguri/iso-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, dependencies

.github/labeler.yml:

# ラベル自動付与の設定
backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**/package.json'
      - '**/package-lock.json'

feat: コードカバレッジ測定の実装
  .github/workflows/coverage.yml
  CLAUDE.md
  backend/Makefile
  backend/README.md
Labels: backend, documentation, ci/cd

fix: カバレッジワークフローの修正
  .github/workflows/coverage.yml
Labels: ci/cd

feat: 統合テストの実装
  backend/Cargo.toml
  backend/Makefile
  backend/README.md
  backend/src/graphql.rs
  backend/tests/common/mod.rs
  backend/tests/database_test.rs
  backend/tests/graphql_test.rs
  backend/tests/rss_parser_test.rs
Labels: backend, dependencies

fix: 統合テストの修正とフォーマット
  backend/tests/common/mod.rs
  backend/tests/database_test.rs
  backend/tests/graphql_test.rs
  backend/tests/rss_parser_test.rs
Labels: backend

fix: RSSパーサーテストのアサーション修正
  backend/tests/rss_parser_test.rs
Labels: backend

feat: ドキュメント生成の実装
  .github/workflows/docs.yml
  .github/workflows/gh-pages.yml
  backend/Cargo.toml
  backend/Makefile
  backend/README.md
  backend/src/db/mod.rs
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/scraper/mod.rs
Labels: backend, ci/cd, dependencies

fix: コードフォーマット修正
  backend/src/graphql.rs
Labels: backend

docs: 本日の作業記録と次回タスクの整理
  backend/DAILY_LOG.md
Labels: backend

test: Codecov動作確認用のユーティリティモジュールを追加
  .github/workflows/pages-root.yml
  _config.yml
  backend/src/lib.rs
  backend/src/utils/mod.rs
  docs/README.md
Labels: backend, documentation, ci/cd

style: cargo fmtでフォーマット修正
  backend/src/utils/mod.rs
Labels: backend

test: Codecov動作確認 (#10)
  .github/workflows/pages-root.yml
  _config.yml
  backend/src/lib.rs
  backend/src/utils/mod.rs
  docs/README.md
Labels: backend, documentation, ci/cd

docs: GitHub Pages用のindex.htmlを追加
  docs/index.html
Labels: documentation

chore: GitHub Pages設定の最終調整
  .github/workflows/docs.yml
  .nojekyll
  backend/Cargo.toml
Labels: backend, ci/cd, dependencies

feat: データベース基本実装を追加
  backend/Cargo.toml
  backend/migrations/20240120000001_initial_schema.sql
  backend/migrations/20250721120000_create_teams.sql
  backend/migrations/20250721120001_create_trade_news.sql
  backend/src/db/mod.rs
  backend/src/db/models.rs
  backend/src/scraper/mod.rs
  backend/src/scraper/persistence.rs
Labels: backend, dependencies

style: cargo fmtでコードフォーマットを修正
  backend/src/db/mod.rs
  backend/src/db/models.rs
  backend/src/scraper/mod.rs
  backend/src/scraper/persistence.rs
Labels: backend

fix: 未完成のpersistenceモジュールを一時削除
  backend/src/scraper/mod.rs
  backend/src/scraper/persistence.rs
Labels: backend

fix: CI/CDでSQLXのオフラインモードを有効化
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/rust-ci.yml
  backend/.env.example
Labels: backend, ci/cd

feat: SQLxマクロを使わないシンプルなリポジトリ実装を追加
  backend/src/db/mod.rs
  backend/src/db/simple_repository.rs
Labels: backend

docs: 本日の作業内容を日報に記録
  backend/DAILY_LOG.md
Labels: backend

style: cargo fmtでフォーマット修正
  backend/src/db/simple_repository.rs
Labels: backend

test: 古いデータベーステストを一時的に無効化
  backend/tests/database_test.rs.bak
Labels: backend

docs: 本日の進捗サマリーと明日の作業計画を記録
  backend/DAILY_LOG.md
  backend/PROGRESS_SUMMARY.md
Labels: backend

feat: NewsItemモデル拡張とデータ永続化機能の実装
  backend/Cargo.toml
  backend/src/bin/scrape.rs
  backend/src/graphql.rs
  backend/src/main.rs
  backend/src/scraper/mod.rs
  backend/src/scraper/models.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
Labels: backend, dependencies

style: cargo fmtで自動フォーマット修正
  backend/src/bin/scrape.rs
  backend/src/graphql.rs
  backend/src/main.rs
  backend/src/scraper/models.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
Labels: backend

fix: ファイル末尾に改行を追加
  backend/src/bin/scrape.rs
  backend/src/scraper/persistence.rs
Labels: backend

feat: データベース基本実装（Phase 2） (#11)
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/rust-ci.yml
  backend/.env.example
  backend/Cargo.toml
  backend/DAILY_LOG.md
  backend/PROGRESS_SUMMARY.md
  backend/migrations/20240120000001_initial_schema.sql
  backend/migrations/20250721120000_create_teams.sql
  backend/migrations/20250721120001_create_trade_news.sql
  backend/src/db/mod.rs
  backend/src/db/models.rs
  backend/src/db/simple_repository.rs
  backend/tests/database_test.rs.bak
Labels: backend, ci/cd, dependencies

chore: データベースファイルを.gitignoreに追加
  backend/.gitignore
Labels: backend

style: 末尾の空行を削除
  backend/src/bin/scrape.rs
  backend/src/scraper/persistence.rs
Labels: backend

fix: テストとドキュメントの修正
  backend/src/lib.rs
  backend/tests/graphql_test.rs
  backend/tests/rss_parser_test.rs
Labels: backend

style: cargo fmtで空行を削除
  backend/.gitignore
  backend/tests/graphql_test.rs
Labels: backend

chore: sqlxオフラインモード用のクエリメタデータを追加
  backend/.sqlx/query-79920c11ea2e7073c43a62da4a91c1435ad7a154bdb47514169ccfe9481dff30.json
  backend/.sqlx/query-8955eefaf95e4ffbea7d32636eb633ed4ea37368a310335f6743bbda83c1783c.json
  backend/.sqlx/query-ba01a77baec6270e2b9981813b324a23c4a172eca5413c70f204c25518a6f262.json
  backend/.sqlx/query-bc7a6b6d780fe3b44cfd4e5d9b167687d9ae8cc5afb65717cf94e6d599dcdd67.json
Labels: backend

feat: NewsItemモデル拡張とデータ永続化機能の実装 (#12)
  backend/.gitignore
  backend/.sqlx/query-79920c11ea2e7073c43a62da4a91c1435ad7a154bdb47514169ccfe9481dff30.json
  backend/.sqlx/query-8955eefaf95e4ffbea7d32636eb633ed4ea37368a310335f6743bbda83c1783c.json
  backend/.sqlx/query-ba01a77baec6270e2b9981813b324a23c4a172eca5413c70f204c25518a6f262.json
  backend/.sqlx/query-bc7a6b6d780fe3b44cfd4e5d9b167687d9ae8cc5afb65717cf94e6d599dcdd67.json
  backend/Cargo.toml
  backend/src/bin/scrape.rs
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/scraper/mod.rs
  backend/src/scraper/models.rs
  backend/src/scraper/persistence.rs
  backend/src/scraper/rss_parser.rs
  backend/tests/graphql_test.rs
  backend/tests/rss_parser_test.rs
Labels: backend, dependencies

feat: 定期実行ジョブの実装
  backend/Cargo.toml
  backend/src/bin/scheduler.rs
  backend/src/lib.rs
  backend/src/scheduler/mod.rs
Labels: backend, dependencies

test: テストカバレッジの向上
  backend/src/db/simple_repository.rs
  backend/src/scraper/rss_parser.rs
  backend/tests/graphql_conversion_test.rs
Labels: backend

style: cargo fmtでフォーマット修正
  backend/src/bin/scheduler.rs
  backend/src/scheduler/mod.rs
Labels: backend

style: cargo fmtでフォーマット修正
  backend/src/db/simple_repository.rs
  backend/src/scraper/rss_parser.rs
  backend/tests/graphql_conversion_test.rs
Labels: backend

feat: 定期実行ジョブの実装
  backend/Cargo.toml
  backend/src/bin/scheduler.rs
  backend/src/lib.rs
  backend/src/scheduler/mod.rs
Labels: backend, dependencies

test: テストカバレッジの向上
  backend/src/db/simple_repository.rs
  backend/src/scraper/rss_parser.rs
  backend/tests/graphql_conversion_test.rs
Labels: backend

feat: バックエンドにCORS設定を追加、ポートを8000に変更
  backend/Cargo.toml
  backend/src/main.rs
Labels: backend, dependencies

feat: Kotlin Compose for Webでフロントエンドを実装
  frontend/.next/cache/webpack/client-development/0.pack.gz
  frontend/.next/cache/webpack/client-development/index.pack.gz
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/middleware-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/types/package.json
  frontend/README.md
  frontend/build.gradle.kts
  frontend/gradle.properties
  frontend/gradle/wrapper/gradle-wrapper.jar
  frontend/gradle/wrapper/gradle-wrapper.properties
  frontend/gradlew
  frontend/kotlin-prod.html
  frontend/kotlin-test.html
  frontend/settings.gradle.kts
  frontend/simple-test.html
  frontend/src/jsMain/graphql/schema.graphqls
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/Main.kt
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/CategoryFilter.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsMain/resources/index.html
Labels: frontend, dependencies
