Repository toguri/iso-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, dependencies

fix: CIエラーを修正
  backend/src/db/connection.rs
  backend/src/graphql.rs
  backend/src/scraper/persistence.rs
Labels: backend

style: cargo fmtの修正
  backend/src/graphql.rs
Labels: backend

ci: PostgreSQLサービスとignoredテストの実行を追加
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: CI環境でのtest_create_poolテストの互換性を改善
  .github/workflows/pr-checks.yml
  backend/src/db/connection.rs
Labels: backend, ci/cd

fix: CI環境でデータベースマイグレーションを実行するように修正
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
  backend/src/db/connection.rs
Labels: backend, ci/cd

fix: マイグレーションディレクトリを正しく指定
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: タイムスタンプ型をTIMESTAMPTZに修正
  backend/migrations_postgres/20250729000003_fix_timestamp_types.sql
Labels: backend

fix: データベースの挙動に合わせてテストを修正
  backend/src/scraper/persistence.rs
Labels: backend

style: cargo fmtでフォーマット修正
  backend/src/scraper/persistence.rs
Labels: backend

fix: 空のIDの保存テストを修正
  backend/src/scraper/persistence.rs
Labels: backend

test: hookの動作確認
  backend/test.txt
Labels: backend

style: cargo fmtでフォーマット修正（空行）
  backend/src/scraper/persistence.rs
  backend/test.txt
Labels: backend

test: hookのログ確認
  backend/test.rs
Labels: backend

test: フォーマットエラーでhook動作確認
  backend/format_test.rs
  backend/test.rs
Labels: backend

test: テストカバレッジを73.66%に改善 (#45)
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
  backend/coverage/tarpaulin-report.html
  backend/docker-compose.test.yml
  backend/format_test.rs
  backend/lcov.info
  backend/migrations_postgres/20250729000003_fix_timestamp_types.sql
  backend/scripts/test-with-db.sh
  backend/src/db/connection.rs
  backend/src/graphql.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/tarpaulin-report.html
  backend/test.env
Labels: backend, ci/cd

chore: PR#45マージ後のカバレッジ測定
  frontend/COVERAGE_CHECK.md
Labels: frontend

chore: PR#45マージ後のカバレッジ測定 (#46)
  frontend/COVERAGE_CHECK.md
Labels: frontend

docs: 7/29作業記録とMVPタスクの更新
  backend/MVP_TASKS.md
  docs/MVP_TASKS.md
  docs/daily/2025-07-29.md
Labels: backend, documentation

docs: 7/29作業記録とMVPタスクの更新 (#47)
  backend/MVP_TASKS.md
  docs/MVP_TASKS.md
  docs/daily/2025-07-29.md
Labels: backend, documentation

fix: GitHub Actions CIでPostgreSQLサービスとマイグレーション設定を追加
  .github/workflows/pr-checks.yml
  backend/coverage/lcov.info
  backend/src/db/simple_repository.rs
  backend/src/scraper/persistence.rs
Labels: backend, ci/cd

feat: フロントエンド・バックエンド統合の初期設定
  backend/migrations_postgres/20250725000002_insert_teams_data.sql
  backend/migrations_postgres/20250730000001_add_abbreviation_to_teams.sql
  backend/src/scraper/persistence.rs
  docs/daily/2025-07-30.md
Labels: backend, documentation

fix: teamsテーブルのabbreviationカラムを初期定義に追加
  backend/migrations_postgres/20250725000000_create_teams.sql
  backend/migrations_postgres/20250730000001_add_abbreviation_to_teams.sql
Labels: backend

feat: フロントエンド・バックエンド統合の初期実装 (#48)
  backend/migrations_postgres/20250725000000_create_teams.sql
  backend/migrations_postgres/20250725000002_insert_teams_data.sql
  backend/src/scraper/persistence.rs
  docs/daily/2025-07-30.md
Labels: backend, documentation

feat: HTMLタグ除去機能の実装
  backend/Cargo.toml
  backend/src/graphql.rs
  backend/src/utils/mod.rs
  docs/daily/2025-07-30.md
Labels: backend, documentation, dependencies

feat: HTMLタグ除去機能の実装 (#49)
  backend/Cargo.toml
  backend/src/graphql.rs
  backend/src/utils/mod.rs
  docs/daily/2025-07-30.md
Labels: backend, documentation, dependencies

feat: カード型3列表示のレイアウトを実装
  docs/daily/2025-07-30.md
  docs/daily/2025-07-31.md
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
Labels: frontend, documentation

feat: カード型3列表示のレイアウトを実装 (#50)
  docs/daily/2025-07-30.md
  docs/daily/2025-07-31.md
  frontend/src/jsMain/kotlin/App.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/components/NewsList.kt
Labels: frontend, documentation

feat: 翻訳機能の実装
  README.md
  backend/Cargo.toml
  backend/migrations_postgres/20250731000004_add_translation_columns.sql
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/scraper/persistence.rs
  backend/src/services/mod.rs
  backend/src/services/translation.rs
  docker-compose.dev.yml
  docs/daily/2025-07-31.md
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsTest/kotlin/api/GraphQLClientTest.kt
  frontend/src/jsTest/kotlin/components/NewsCardTest.kt
  frontend/src/jsTest/kotlin/models/NewsItemTest.kt
  infra/lambda/translate_article.py
  infra/stepfunctions/translation-workflow.json
Labels: backend, frontend, documentation, dependencies

refactor: LibreTranslateを削除しAmazon Translate専用に変更
  backend/src/graphql.rs
  backend/src/services/mod.rs
  backend/src/services/translation.rs
  docker-compose.yml
  docs/DEVELOPMENT_PLAN.md
Labels: backend, documentation

docs: 7月31日の作業記録を更新
  docs/daily/2025-07-31.md
Labels: documentation

test: 翻訳機能のテストコードを追加・修正
  backend/src/graphql.rs
  backend/src/lib_test.rs
  backend/src/scraper/models_extended_test.rs
  backend/src/scraper/persistence.rs
  backend/src/services/translation.rs
  backend/src/utils/mod.rs
Labels: backend

test: graphql.rsのテストカバレッジを向上
  backend/src/graphql.rs
  pre-commit-unified.sh
Labels: backend

test: translation.rsのテストカバレッジを大幅に改善
  CLAUDE.md
  backend/src/services/translation.rs
Labels: backend, documentation

feat: OIDC認証設定とAWS環境変数のハードコーディング削除
  .env.example
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-checks.yml
  backend/migrations_postgres/20250801000001_fix_timestamp_types.sql
  backend/src/graphql.rs
  backend/src/services/mod.rs
  backend/src/services/translation.rs
  docs/OIDC_SETUP.md
  docs/daily/2025-08-01.md
Labels: backend, documentation, ci/cd

feat: 英語を日本語に翻訳して表示する機能の実装 (#51)
  .env.example
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  backend/Cargo.toml
  backend/migrations_postgres/20250731000004_add_translation_columns.sql
  backend/migrations_postgres/20250801000001_fix_timestamp_types.sql
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/lib_test.rs
  backend/src/scraper/models_extended_test.rs
  backend/src/scraper/persistence.rs
  backend/src/services/mod.rs
  backend/src/services/translation.rs
  backend/src/utils/mod.rs
  docker-compose.dev.yml
  docker-compose.yml
  docs/DEVELOPMENT_PLAN.md
  docs/OIDC_SETUP.md
  docs/daily/2025-07-31.md
  docs/daily/2025-08-01.md
  frontend/src/jsMain/kotlin/api/GraphQLClient.kt
  frontend/src/jsMain/kotlin/components/NewsCard.kt
  frontend/src/jsMain/kotlin/models/NewsItem.kt
  frontend/src/jsTest/kotlin/api/GraphQLClientTest.kt
  frontend/src/jsTest/kotlin/components/NewsCardTest.kt
  frontend/src/jsTest/kotlin/models/NewsItemTest.kt
  infra/lambda/translate_article.py
  infra/stepfunctions/translation-workflow.json
  pre-commit-unified.sh
Labels: backend, frontend, documentation, ci/cd, dependencies

feat: repository.rsのテストカバレッジを改善
  backend/src/db/repository.rs
  backend/src/graphql.rs
  backend/src/scraper/models.rs
  docs/daily/2025-08-02.md
Labels: backend, documentation

feat: repository.rsのテストカバレッジを改善 (#52)
  backend/src/db/repository.rs
  backend/src/graphql.rs
  backend/src/scraper/models.rs
  docs/daily/2025-08-02.md
Labels: backend, documentation

feat: PRにカバレッジレポートを自動コメントする機能を追加
  .github/workflows/coverage-comment.yml
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

feat: PRにカバレッジレポートを自動コメントする機能を追加 (#53)
  .github/workflows/coverage-comment.yml
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

docs: backend/DAILY_LOG.mdを日付ごとに分割してdocs/daily/に移動
  backend/DAILY_LOG.md
  docs/daily/2025-07-21.md
  docs/daily/2025-07-23.md
  docs/daily/2025-07-24.md
  docs/daily/2025-07-25.md
  docs/daily/2025-07-26-backend.md
Labels: backend, documentation

.github/labeler.yml:

# ラベル自動付与の設定
backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**/package.json'
      - '**/package-lock.json'
