Repository toguri/iso-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, dependencies

.github/labeler.yml:

# ラベル自動付与の設定
backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**/package.json'
      - '**/package-lock.json'

feat: Amazon MWAA環境の実装と5分間隔のスクレイピングDAG
  airflow/README.md
  airflow/dags/nba_rss_scraper.py
  airflow/requirements.txt
  terraform/environments/dev/mwaa.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/mwaa/README.md
  terraform/modules/mwaa/outputs.tf
Labels: none

feat: Aurora PostgreSQL Serverless v2の実装とSQLiteからの移行サポート
  backend/.env.aurora.example
  backend/DAILY_LOG.md
  backend/migrations_postgres/20250725000000_create_teams.sql
  backend/migrations_postgres/20250725000001_create_trade_news.sql
  backend/migrations_postgres/20250725000002_insert_teams_data.sql
  backend/scripts/migrate_to_aurora.sh
  backend/src/db/connection.rs
  backend/src/db/mod.rs
  terraform/environments/dev/main.tf
  terraform/environments/dev/rds.tf
  terraform/modules/rds/README.md
Labels: backend

fix: Rust formatting issues in connection.rs
  backend/src/db/connection.rs
Labels: backend

fix: SQLx API変更に対応 - any_kind()メソッドの削除に対応
  backend/src/db/connection.rs
Labels: backend

fix: 未使用関数の警告を抑制
  backend/src/db/connection.rs
Labels: backend

fix: Clippyのuninlined_format_argsエラーを修正
  backend/src/db/connection.rs
Labels: backend

fix: Clippyのunnecessary-lazy-evaluationsエラーを修正
  backend/src/graphql.rs
  backend/src/scraper/rss_parser.rs
Labels: backend

fix: cargo fmtによるコードフォーマットの修正
  backend/src/graphql.rs
Labels: backend

fix: Clippyエラーを修正 - collapsible_ifとredundant_closure
  backend/src/db/connection.rs
  backend/src/graphql.rs
  backend/src/scraper/rss_parser.rs
Labels: backend

docs: ローカル開発環境セットアップガイドを追加
  README.md
  backend/README.md
  docs/LOCAL_DEVELOPMENT.md
Labels: backend, documentation

test: connectionモジュールのユニットテストを追加
  .gitignore
  backend/.gitignore
  backend/src/db/connection.rs
Labels: backend

style: cargo fmtによるコードフォーマット修正
  backend/src/db/connection.rs
Labels: backend

test: connectionモジュールのテストカバレッジを拡充
  backend/Cargo.toml
  backend/src/db/connection.rs
Labels: backend, dependencies

style: 行長制限に合わせてフォーマット修正
  backend/src/db/connection.rs
Labels: backend

test: カバレッジ測定から統合テスト対象の関数を除外
  backend/.cargo/config.toml
  backend/src/db/connection.rs
  codecov.yml
Labels: backend

ci: adjust codecov thresholds to fix project check failure
  codecov.yml
Labels: none

feat: Aurora PostgreSQL Serverless v2の実装 (#28)
  .gitignore
  backend/.cargo/config.toml
  backend/.env.aurora.example
  backend/.gitignore
  backend/Cargo.toml
  backend/DAILY_LOG.md
  backend/migrations_postgres/20250725000000_create_teams.sql
  backend/migrations_postgres/20250725000001_create_trade_news.sql
  backend/migrations_postgres/20250725000002_insert_teams_data.sql
  backend/scripts/migrate_to_aurora.sh
  backend/src/db/connection.rs
  backend/src/db/mod.rs
  codecov.yml
  terraform/environments/dev/main.tf
  terraform/environments/dev/rds.tf
  terraform/modules/rds/README.md
Labels: backend, dependencies

feat: Amazon MWAA環境の実装と5分間隔のスクレイピングDAG (#29)
  airflow/README.md
  airflow/dags/nba_rss_scraper.py
  airflow/requirements.txt
  terraform/environments/dev/mwaa.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/modules/mwaa/README.md
  terraform/modules/mwaa/outputs.tf
Labels: none

docs: ローカル開発環境セットアップガイドを追加 (#30)
  README.md
  backend/README.md
  docs/LOCAL_DEVELOPMENT.md
Labels: backend, documentation

ci: 自動PR割り当てとコード品質チェックワークフローを追加
  .github/workflows/auto-author-assign.yml
  .github/workflows/code-quality.yml
  .github/workflows/pr-analysis.yml
Labels: ci/cd

ci: ワークフローを目的別に再編成
  .github/workflows/auto-author-assign.yml
  .github/workflows/code-quality.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-analysis.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-checks.yml
  backend/DAILY_LOG.md
Labels: backend, ci/cd

fix: Auto Author Assignが動作するように修正
  .github/workflows/pr-automation.yml
Labels: ci/cd

ci: ワークフローを目的別に再編成（pr-checks/pr-automation/deploy） (#31)
  .github/workflows/deploy.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-checks.yml
  backend/DAILY_LOG.md
Labels: backend, ci/cd

feat: ECS Fargate + ALB構築の実装
  backend/Dockerfile
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/main.rs
  terraform/environments/dev/ecs.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/rds.tf
  terraform/modules/ecs/outputs.tf
Labels: backend

fix: SQLite URLスキーマを修正してAnyPoolテストを修正
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
Labels: backend

docs: 2025-07-26の開発日報を更新
  backend/DAILY_LOG.md
Labels: backend

test: テストを一時的に無効化してAnyPoolドライバー問題を回避
  backend/src/lib.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
Labels: backend

style: cargo fmtでフォーマット修正
  backend/src/scheduler/mod.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
Labels: backend

feat: ECS Fargate + ALB構築の実装 (#32)
  .github/workflows/auto-author-assign.yml
  .github/workflows/code-quality.yml
  .github/workflows/pr-analysis.yml
  backend/.gitignore
  backend/DAILY_LOG.md
  backend/Dockerfile
  backend/src/bin/init_scrape.rs
  backend/src/bin/scheduler.rs
  backend/src/bin/scrape.rs
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
  terraform/environments/dev/ecs.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/rds.tf
  terraform/modules/ecs/outputs.tf
Labels: backend, ci/cd

refactor: SQLite廃止とPostgreSQL専用化
  backend/.env.example
  backend/Cargo.toml
  backend/migrations/20250721120000_create_teams.sql
  backend/migrations/20250721120001_create_trade_news.sql
  backend/scripts/migrate_to_aurora.sh
  backend/sqlx-data.json
  backend/src/bin/scheduler.rs
  backend/src/db/connection.rs
  backend/src/db/mod.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/tests/common/mod.rs
  backend/tests/db_test.rs
  backend/tests/graphql_test.rs
Labels: backend, dependencies

docs: SQLite参照を削除しPostgreSQL専用のドキュメントに更新
  backend/.env.aurora.example
  backend/DAILY_LOG.md
  backend/DATABASE_SCHEMA.md
  docs/LOCAL_DEVELOPMENT.md
  terraform/modules/rds/README.md
Labels: backend, documentation

fix: PostgreSQLプレースホルダー形式に修正
  backend/src/db/connection.rs
  backend/src/scraper/persistence.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
Labels: backend

docs: コメントをPostgreSQL用に更新
  backend/src/scraper/persistence.rs
Labels: backend

style: rustfmtによるコードフォーマット修正
  backend/src/lib.rs
  backend/tests/app_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
Labels: backend

fix: Post Analysis SummaryのGitHub Token権限問題を修正
  .github/workflows/code-quality.yml
Labels: ci/cd

refactor: SQLite廃止とPostgreSQL専用化 (#33)
  .github/workflows/code-quality.yml
  backend/.env.aurora.example
  backend/.env.example
  backend/Cargo.toml
  backend/DAILY_LOG.md
  backend/DATABASE_SCHEMA.md
  backend/migrations/20250721120000_create_teams.sql
  backend/migrations/20250721120001_create_trade_news.sql
  backend/scripts/migrate_to_aurora.sh
  backend/sqlx-data.json
  backend/src/bin/scheduler.rs
  backend/src/db/connection.rs
  backend/src/db/mod.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/tests/app_test.rs
  backend/tests/common/mod.rs
  backend/tests/db_test.rs
  backend/tests/graphql_test.rs
  backend/tests/health_check_test.rs
  docs/LOCAL_DEVELOPMENT.md
  terraform/modules/rds/README.md
Labels: backend, documentation, ci/cd, dependencies

feat: テストカバレッジの改善とモック化の実装
  backend/Cargo.toml
  backend/src/db/mod.rs
  backend/src/db/repository.rs
  backend/src/db/simple_repository.rs
  backend/src/graphql.rs
  backend/src/graphql_context.rs
  backend/src/lib.rs
  backend/src/lib_test.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/models_extended_test.rs
  backend/src/scraper/persistence.rs
  backend/src/test_utils.rs
  backend/tests/models_extended_test.rs
  docs/daily/2025-07-26.md
  docs/daily/2025-07-27.md
Labels: backend, documentation, dependencies

style: rustfmtフォーマット修正
  backend/src/db/repository.rs
  backend/src/graphql_context.rs
  backend/src/scheduler/mod.rs
  backend/src/scraper/persistence.rs
  backend/src/test_utils.rs
  backend/tests/models_extended_test.rs
Labels: backend

fix: Codecovステータスチェックを有効化
  codecov.yml
Labels: none

docs: カバレッジバッジを追加
  backend/README.md
Labels: backend
